.mercury .pagination a,
.mercury .pagination a:link {
	text-decoration: none;
}

.mercury .hg-title a,
.mercury .hg-title a:link {
	text-decoration: none !important;
}

.mercury h2:hover {
  color: var(--gt-black);
}


/********* Images *********/
.mercury .image {
  margin: 0 0 1rem 0;
}
.mercury img {
  height: auto;
  margin: 1rem 0 0 0;
  max-width: 100%;
  padding: 0;
}
.mercury .hg-image-fullsize-link {
  background-color: var(--gt-light-grey);
  font-size: .9rem;
  padding: .3rem;
}


/********* Description/body text *********/
.mercury .content {
  margin-bottom: 1.3rem;
}

.mercury .description {
  clear: both;
}


/********* Labels *********/
.mercury .label {
  clear: both;
  color: var(--gt-md-grey);
  display: block;
  font-family: var(--font-roboto-condensed);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  padding: 0;
  text-align: left;
}


/********* Secondary Button *********/
.mercury .btn-secondary {
  background-color: var(--gt-gold) !important;
  border-color: var(--gt-gold) !important;
  color: var(--gt-black) !important;
}
.mercury .btn-secondary:hover,
.mercury .btn-secondary a:hover {
  background-color: var(--gt-black) !important;
  border-color: var(--gt-black) !important;
  color: var(--gt-gold) !important;
  text-decoration: none;
}


/********* Event Details Wrapper *********/
.mercury .details-wrapper {
  border-bottom: 1px solid var(--gt-gold);
  margin-bottom: 1.3rem;
  padding: 0;
  text-align: left;
}


/********* Event Date *********/
.mercury .date-wrapper,
.mercury .time-wrapper {
  clear: both;
  display: block;
  font-size: .8rem;
  line-height: 1.1;
  margin: 0;
  padding: 0;
}
.mercury .time-wrapper {
  margin: 1rem 2rem .5rem 0;
  text-align: center;
}
.mercury .time-wrapper-event {
  margin: 0;
  text-align: left;
}
.mercury .date-wrapper {
  background: var(--gt-white);
  border: 1px solid var(--gt-light-grey);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0 2rem .5rem 0;
}
.mercury .day,
.mercury .day-multi {
  background: var(--gt-black);
  -moz-border-radius-topleft: 9px;
  -moz-border-radius-topright: 9px;
  -webkit-border-top-left-radius: 9px;
  -webkit-border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  color: var(--gt-gold);
  font-family: var(--font-roboto-condensed);
  font-size: 1.1rem;
  font-weight: 600;
  padding: .5rem 0;
  text-align: center;
  text-transform: uppercase;
}
.mercury .month,
.mercury .month-multi {
  color: var(--gt-gold);
  font-family: var(--font-roboto-condensed);
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: .5rem;
  text-align: center;
  text-transform: uppercase;
}
.mercury .date,
.mercury .date-multi {
  color: var(--gt-gold);
  font-family: var(--font-roboto-condensed);
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.mercury .year,
.mercury .year-multi {
  color: var(--gt-gold);
  font-family: var(--font-roboto-condensed);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: .5rem;
  text-align: center;
  text-transform: uppercase;
}
.mercury .time,
.mercury .time-multi {
  display: inline;
  font-weight: 400;
}
.mercury .time:before,
.mercury .time-multi:before {
 font-family: 'FontAwesome';
  font-weight: 900;
  content: "\f017";
  color: var(--gt-md-gold);
  margin-right: .25rem;
  display: inline;
}


/********* Location *********/
.mercury .location-wrapper {
  margin-bottom: 1.3rem;
}
.mercury .location.content,
.mercury .location-phone.content,
.mercury .location-email.content {
  margin-bottom: 0;
}


/********* Fee *********/
.mercury .fee.label {
  font-family: var(--font-roboto);
  font-size: 1.12rem;
  font-weight: 300;
  line-height: 1.6;
  color: var(--gt-black);
  display: inline;
}
.mercury .fee.label:after {
  content: ':';
}
.mercury .fee.content {
  margin-bottom: 1rem;
  display: inline-block;
}
.mercury .fee.label:before {
  font-family: 'FontAwesome';
  font-weight: 900;
  content: "\f155";
  color: var(--gt-md-gold);
  margin-right: .55rem;
  display: inline;
}


/********* Categories *********/
.mercury .categories.content,
.mercury .categories.content a {
  display: inline-block;
}
.mercury .categories.content a {
  margin-right: .25rem;
}


/****** News Research Areas *******/
.mercury .core-research-areas.files {
  margin-bottom: 1.3rem;
}
.mercury .core-research-areas.content a,
.mercury .core-research-areas.content {
  display: inline-block;
}
.mercury .core-research-areas.content a {
  margin-right: .25rem;
}
.mercury .published {
  color: var(--gt-gold);
  font-weight: 400;
}


/********* Sidebar *********/
.mercury .sidebar-right.content {
  padding: .5rem 0 .5rem 1.5rem;
  border-left: 1px solid var(--gt-gold);
}


/********* GT Video *********/
.mercury .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.mercury .video-container iframe,
.mercury .video-container object,
.mercury .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/********* Dateline *********/
.mercury .dateline {
  font-style: italic;
}
